@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS VARIABLES */
:root {
  --background-rgb: 249, 249, 255;
  --main-text-rgb: 82, 82, 82;
}

body {
  color: rgb(var(--main-text-rgb));
  background: rgb(var(--background-rgb));
}
