@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS VARIABLES */
:root {
  --background-rgb: 249, 249, 255;
  --main-text-rgb: 15, 23, 57;
}

/* Styling that is applied to all elements within the body (/layout.tsx) */
body {
  color: rgb(var(--main-text-rgb));
  background: rgb(var(--background-rgb));
}
